.statistics,
.statList,
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics {
  background-color: rgb(163, 163, 163);
}
.statList {
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}
.item {
  padding: 10px 20px;
  border-style: solid;
  border-color: rgb(105, 105, 105);
  border-width: 1px;
  width: 40px;
}
.title {
  background-color: violet;
  text-align: center;
}
