.TransactionHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TableRow {
  border: 1px solid;
  border-color: black;
  width: 100px;
}
.TableTitle {
  border: 1px solid;
  border-color: black;
}
