.transactionHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableRow {
  border: 1px solid;
  border-color: black;
  width: 100px;
}
.tableTitle {
  border: 1px solid;
  border-color: black;
}
